DB_HOST=localhost
POSTGRES_PORT=5434
POSTGRES_DB=rag_document_assistant
POSTGRES_USER=rag_user
POSTGRES_PASSWORD=rag_password

OLLAMA_BASE_URL=
RAG_EMBEDDING_MODEL=

RAG_LLM_MODEL=
RAG_LLM_TEMPERATURE=
RAG_LLM_NUM_PREDICT=
RAG_LLM_CONTEXT_WINDOW=

RAG_CHUNK_SIZE_CHARS=
RAG_CHUNK_OVERLAP_CHARS=
RAG_APPROX_CHARS_PER_TOKEN=